[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/delimitmate"]
	path = vim/bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = https://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/indent-guides"]
	path = vim/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/css-color"]
	path = vim/bundle/css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
